.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkbox-container div {
  margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
  display: none; /* Oculta el checkbox real */
}

.checkbox-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.checkbox-container label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.checkbox-container input[type="checkbox"]:checked + label:before {
  background-color: #1fd464;
  border-color: #2aa15b;
}

.checkbox-container input[type="checkbox"]:checked + label:after {
  content: "\2714";
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.checkbox-container label:hover:before {
  border-color: #999;
}


.yuyu {
  text-align: center;
  justify-content: center;
  color: #000;
}

.huhu {
  margin: 10px;
}

.container-card {
	justify-content: center;
	min-width: 50%;
	max-width: 70%;
	width: 600px;
	display: flex;
	margin: auto;
  color: #000;
}

.title-cards {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #000000;
}

.card {
	max-width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: all 400ms ease-out;
	cursor: default;
	
}

.card:hover {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	transform: translateY(-3%);
}

.card img {
	width: 100%;
	height: 210px;
}

.card .contenido-card {
	padding: 15px;
	text-align: center;

}

.card .contenido-card .h3 {
	margin-bottom: 15px;
	color: #B489C0;
}

.card .contenido-card p {
	line-height: 1.8;
	color: black;
	font-size: 14px;
	margin-bottom: 5px;
}

.card .contenido-card a {
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
	font-size: 14px;
}

@media only screen and (max-width: 768px) {
	.card .contenido-card h3 {
		font-size: 16px;
	}

	.card .contenido-card p {
		font-size: 12px;
	}

	.card .contenido-card a {
		font-size: 12px;
	}
}


.fondoycard {
	background-color: #fff;
}

.tituloC {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #B489C0;
	text-decoration-line: none;
	border-bottom: 4px solid rgb(220, 163, 163);
	border-radius: 2000px;
	font-weight: 800%;
}

.figure1{
	justify-content: center;
}
